*{
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.down a{
    padding: 24px ;
    text-decoration: none;
    color: black;
}
.logo img{
    width: 150px;
}
.banner{
    background-image: url(../Project/images/second.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: #0000004b;
}
.wrap{
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
    padding: 110px 0px;
    
}
.item1 h2{
    font-size:40px;
    width: 60%;
   color: #ffffff;
   padding-bottom: 20px;
}
.item1 p{
    color: #ffffff;
}
.item2{
     padding: 30px 0px; 
    width: 40%;
}
form{
    background-color: #ffffff;
    padding: 30px 15px; 
    border-radius: 10px; 
}
form input{
    width: 100%;
    margin: 12px 0px;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
form button{
    width: 100%;
    background-color: #078586;
    padding: 5px 0px;
    margin: 5px 0px;
    border-radius:5px ;
    outline: none;
    border: 1px solid black;
}
form h2{
    font-size: 20px;
}
.both{
    background-color: #f5fefe;
    padding: 50px 0px;
}
.both h2 {
    text-align: center;
    font-size: 13px;
}
.images img{
    width: 8em;
    margin: 0 30px;

}
.images{
    text-align: center;
}
.all{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   justify-content: center;
     margin:0% 30%;
    width: 90%;
    margin: 0 auto; 
}
.waitlist{
    margin: 5% 0px;
}
.one{
    background-image: url(./images/code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height:40vh;
    border-radius: 8px;

}
.all div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 7px;
    margin: 10px 0px;
}

.two{
    background-image: url(./images/people.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    border-radius: 8px;
    height:40vh;
    
}
.three{
    background-image: url(./images/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height:40vh;
    border-radius: 8px;

}
.four{
    background-image: url(./images/digital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height:40vh;
    border-radius: 8px;
}
.five{
    background-image: url(./images/data.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height:40vh;
    border-radius: 8px;
}
.six{
    background-image: url(./images/tag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height:40vh;
    border-radius: 8px;
}
.all p:nth-of-type(1){
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.one p, .two p,.three p,.four p,.five p,.six p{
    color: #ffffff;
    line-height: 6px;

}
.item3{
    text-align: center;
}
.content2 img {
    width: 250px;
}
.general h2{
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
.hance h6{
    color: #ffffff;
    text-align: center;
}
.hance h3{
    color: #ffffff;
  
    text-align: center;
}
.hance p{
    color: #ffffff;
    text-align: center;
}
.hance{
    width: 90%;
    margin: 0 auto;
}

.general p{
    color: #ffffff;
    font-size: 14px;
}
.general{
    display: flex;
    justify-content: space-between;
    margin: 9% 0px;
}
.feature{
    background-color:  #078586;
    padding: 4% 0%;
    margin: 4% 0;
}
.enhance{
    width: 90%;
    margin: 0% auto;
}
.content1{
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 30%;
}
.faq{
    width: 50%;
    margin: 0 auto;
}
.faq1{
    text-align: center;
    margin: 50px;
}
.faq1 button{
    color: #089FA0;
    background-color: #E7FEFE;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}
.faq2{
    border: 1px solid black;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.faq2 a{
    text-decoration: none;
}
.faq3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.faqs{
    text-align: center;
    width: 100%;
    margin: 3% auto;
    padding: 40px 70px;
    background-color: #F7F7F4;
    border-radius: 20px;
}
.faqs button{
    padding:15px ;
    margin: 5px 0;
    background-color: #078586;
    border: 0;
    border-radius: 10px;
}
.footer{
    background-color:  #078586;
}
 .footer img{
    width: 240px;
} 
 
.footer small{
    color: #ffffff;
    font-size: 20px;
}
.first{
    text-align: center;
}
.second{
    display: flex;
    justify-content: space-between;
    border-top:1px solid #E6E6E6;
    margin: 30px 6% 0px 6%;
    padding: 15px 0px;
}
.third{
    display: flex;
    gap: 30px;
}
.icon{
    color: #ffffff;
    font-size: 1em;
}
.icon i{
    margin: 0 10px;
}
.ham{
    display: none;
}
@media (max-width :760px){
    .down{
        display: none;
        position: absolute;
        top: 60px; 
        right: 0;
        width: 70%;
        height: 100vh;
        background-color:#faf9e9;
        padding: 10px;
        border-radius: 5px;
    }
    .down a{
        display: block;
        padding: 10px;
    }
    .down.drop{
        display: block;
    }
    
    .wrap{
        display: block;
        padding: 50px 0px;
    }
    .item2{
        width: 100%;
    }
    .item1{
        text-align: center;
    }
   
    .item1 h2{
        font-size: 30px;
        width: 100%;
    }
    .images img{
        width: 17%;
    }
    .both{
        padding: 30px 0px;
    }
    .all{
        display: block;
    }
    .one,.two,.three,.four,.five,.six{
        width: 100%;
    }
    .general{
        display: grid;
         grid-template-columns: 1fr;

    }
    .content1{
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
    }
    .content2 img{
        width: 350px;
    }
    .content2{
        text-align: center;
    }
    .faq{
      width: 100%;
    }
    .faqs h2{
        font-size: 18px;
    }
    .faqs{
        padding: 20px 0px;
    }
    .footer img{
        width: 240px;
    } 
    .footer small{
        font-size: 14px; 
    }
   .second small:first-of-type{
    width: 70%;
   }
    .third{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .ham{
        display: block;
        margin:0px 15px;
    }
 
}
@media (max-width :1000px){
    .header{
        width: 100%;
    }
    .down a{
        padding: 10px;
    }
    .wrap{
        display: block;
        padding: 50px 0px;
    }
    .item2{
        width: 100%;
    }
    .item1{
        text-align: center;
    }
    .item1 h2{
        font-size: 30px;
        width: 100%;
    }
    .item3 p{
        width: 80%;
        margin: 0 auto;
    }
    .all{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
       justify-content: center; 
    }
    .one,.two,.three,.four,.five,.six{
        width: 80%;
    }
    .general{
        display: grid;
         grid-template-columns: 1fr;

    }
    .content1{
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 100%;
    }
    .content2 img{
        width: 350px;
    }
    .content2{
        text-align: center;
    }
    .faq{
        width: 95%;
    }
    .footer img{
        width: 240px;
    } 
    .footer small{
        font-size: 15px; 
    }
    .second{
        align-items: center;
    }
    


}
